<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.bczx.order.mapper.OrderInfoMapper">

    <select id="selectOrederById" resultType="top.woaibocai.bczx.model.entity.order.OrderInfo">
        select *
        from
            order_info
        where id=#{orderId}
    </select>
    <select id="findOrderPage" resultType="top.woaibocai.bczx.model.entity.order.OrderInfo">
            select *
            from order_info
            <where>
                <if test="userId != null">
                    and user_id = #{userId}
                </if>
                <if test="orderStatus != null">
                    and order_status = #{orderStatus}
                </if>
                and is_deleted = 0
            </where>
            order by id desc
    </select>
    <select id="findOrderId" resultType="top.woaibocai.bczx.model.entity.order.OrderItem">
        select *
        from order_item
        where
        order_id = #{orderId}
        and is_deleted = 0
        order by id desc
    </select>
    <select id="getOrderInfoByOrderNo" resultType="top.woaibocai.bczx.model.entity.order.OrderInfo">
        select
            *
        from
            order_info
        where order_no=#{orderNo}
    </select>
</mapper>