<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.bczx.product.mapper.ProductMapper">

    <select id="selectByThisId" resultType="top.woaibocai.bczx.model.entity.product.Product">
        select * from product where is_deleted=0 and id=#{productId}
    </select>
</mapper>